body {
	background-color: #6F6F7A;
	color: white;
}

.button {
	color: #FFFFFF;
	height: 0px;
	width: ;
	/*+placement: 3px;*/
	position: relative;
	left: 3px;
	top: 3px;
	line-height: 2.9;
	border: 1px solid #166C3D;
	background-color: #0B8B16;
	font-family: Helvetica;
	text-decoration: none;
	padding: 10px;
}

h1 {
}

header {
	text-align: center;
	font-family: Helvetica;
	background-color: ;
}

section {
	background-color: #FFFFFF;
	text-align: center;
	float: left;
	width: 100%;
	padding: 0px 0px 300px 0px;
	background-image:FigurmitFlasche.png;
	color: #000000;
}

ul {
	list-style-type: none;
}

canvas {
	border: #666 1px solid;
	width: 60%;
	height: 50%;
	position: absolute;
	float: left;
	/*+placement: 147px 36px;*/
	position: relative;
	left: 147px;
	top: 36px;
}

#background_canvas {
	/*+placement: 147px -212px;*/
	position: relative;
	left: 147px;
	top: -212px;
}

button {
	/*+placement: -322px 363px;*/
	position: relative;
	left: -322px;
	top: 363px;
	color: #FFFFFF;
}
