
header, footer, section {
	background-color: green;
	color: white;
	padding 24px 14px;
	margin: 15px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 2px grey;
	font: 14px/24px "Helvetica";
}

aside {
	background-color: green;
	color: white;
	
	
}

footer, header {
	text-align: center;
	clear:both;
}

section {
	text-align: center;
	float:left;
	width:70%;
}

aside {
	text-align: center;
	float:right;
	width:25%;
}
