body{
	background-image: url("FigurmitFlasche.jpg");
	background-size: 100% auto;
	color: white;
}
header, footer {
	color:black;
	padding 24px 14px;
	margin: 15px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 2px grey;
	font: 14px/24px "Helvetica";
	text-align: center;
	clear:both;
}

aside {
	background-color: green;
	color: white;
	text-align: center;
	float:right;
	width:25%;
	
}

section {
	text-align: center;
	float:left;
	width:70%;
	height: 500px;
	color:black;
	padding 24px 14px;
	margin: 15px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 2px grey;
	font: 14px/24px "Helvetica";
	
}

nav {
	
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #009933;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
	